{% load static %}
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/checkout/">

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin .form-control:focus {
        z-index: 2;
    }



    .h3 {
        text-align: center;
    }

     .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #FFFFFF; /*Add new task text*/
	}
	input.textarea{
	color:#FFFFFF;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: rgb(102, 98, 90);
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #EAF9FE;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: rgb(30, 59, 78);
		font-size: 17px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #64ac43;
		border-color: #7dad50;
	}
    body{
		background-color: #332B2B;
		color: #FFFFFF;
	}
</style>

<body>

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>



<p>
    <a href="#" class="btn btn-ms btn-primary">Home</a> |
    <a href="{% url 'register' %}" class="btn btn-ms btn-primary"> Register </a> |
    <a href="{% url 'login_view' %}" class="btn btn-ms btn-primary">Login</a>
</p>






    

    <form method="post" class="form-signin">
        {% csrf_token %}

        {% form form=registration_form %}{% endform %}


        <button class="btn btn-lg btn-primary btn-block"  type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2020</p>

    </form>




</body>